services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    container_name: color_system_nginx
    tty: true
    ports:
      - "3200:80"
    volumes:
      - ./backend:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - nextjs
    networks:
      - color_system_net
  
  nginx-nextjs:
    image: nginx:latest
    restart: unless-stopped
    container_name: color_system_nginx_nextjs
    tty: true
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/var/www/html
      - ./nginx/nextjs.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - nextjs
    networks:
      - color_system_net

  php:
    build: ./php
    restart: unless-stopped
    container_name: color_system_php
    tty: true
    volumes:
      - ./backend:/var/www/html
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3100:9000"
    networks:
      - color_system_net

  nextjs:
    build: ./frontend
    restart: unless-stopped
    container_name: color_system_nextjs
    tty: true
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/var/www/html
    environment:
      - NODE_ENV=production
      - DATABASE_URL=mysql://docker_user:1234@host.docker.internal:3306/db-color-system
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - color_system_net

networks:
  color_system_net:
    driver: bridge
