services:
  # backend:
  #   build: ./backend
  #   container_name: color-system-backend
  #   volumes:
  #     - ./backend:/var/www/html
  #   networks:
  #     - color-system-network

  # nginx:
  #   image: nginx:alpine
  #   container_name: color-system-nginx
  #   ports:
  #     - "8700:80"
  #   volumes:
  #     - ./backend:/var/www/html
  #     - ./backend/nginx.conf:/etc/nginx/conf.d/default.conf
  #   depends_on:
  #     - backend
  #   networks:
  #     - color-system-network

  frontend:
    build: ./frontend
    container_name: color-system-frontend
    ports:
      - "3700:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./frontend:/app
    # # depends_on:
    # #   - backend
    networks:
      - color-system-network

networks:
  color-system-network:
    driver: bridge

